body {
    background-color: white;
}

#header {
    background-color: #17072B;
    margin: 0;
    padding: 0;
    width: 100%;
}

#header nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-size: 20px
}

#header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
    font-size: 60px;
}

#article {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 70%;
}

#aside {
    text-align: left;
    background-color: #172D67;
    margin: 0;
    padding: 0;
    width: 30%;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#aside div {
    text-align: center;
}

#footer {
    background-color: #8c15e9;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main::after {
    content: "";
    display: table;
    clear: both; /* To clear floats inside <main> */
  }

